.profile__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  max-width: 204px;
  text-align: center;
  margin: 66px auto 123px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  margin: 0 auto;
}

.profile__input {
  padding: 0;
  appearance: none;
  outline: none;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  flex: 1 1;
  max-width: 360px;
}

.profile__input:invalid {
  color: #ee3465;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__divider {
  background-color: #e8e8e8;
  width: 420px;
  height: 1px;
  margin: 16px auto 17px;
}

.profile__submit {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 16px auto;
  text-align: center;
  appearance: none;
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
  padding: 0;
}

.profile__submit:disabled {
  color: #a0a0a0;
}

.profile__logout {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  margin: 0 auto 70px;
  display: block;
  appearance: none;
  outline: none;
  padding: 0;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.profile__message {
  opacity: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  max-width: 320px;
  text-align: center;
  margin: 187px auto 16px;
}

.profile__message_success {
  color: #2be080;
  opacity: 1;
}

.profile__message_error {
  color: #ee3465;
  opacity: 1;
}

.profile__submit:hover,
.profile__logout:hover {
  opacity: 0.75;
}

@media screen and (max-width: 769px) {
  .profile__title {
    margin-top: 229px;
    margin-bottom: 97px;
  }
  .profile__form {
    max-width: 410px;
  }
  .profile__message {
    margin-top: 160px;
  }
}

@media screen and (max-width: 430px) {
  .profile__title {
    margin-top: 63px;
    margin-bottom: 80px;
  }
  .profile__divider {
    width: 260px;
  }
  .profile__form {
    max-width: 260px;
  }
  .profile__message {
    margin-top: 314px;
  }
  .profile__submit {
    font-size: 12px;
    line-height: 15px;
  }
  .profile__logout {
    font-size: 12px;
    line-height: 15px;
  }
}
