.portfolio {
  max-width: 1140px;
  margin: 100px auto 0;
}

.portfolio__projects {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}

.portfolio__title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #a0a0a0;
  margin-bottom: 50px;
}

.portfolio__project {
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 19px;
  text-decoration: none;
  color: #000;
}

.portfolio__heading {
  height: 50px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__link-image {
  background-image: url(../../images/link.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 45px;
}

.portfolio__link-image:hover {
  opacity: 0.75;
}

.portfolio__projects-line {
  border: 1px solid #e8e8e8;
  margin-top: 19px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    max-width: 668px;
    margin-top: 90px;
  }
  .portfolio__heading {
    font-size: 28px;
    line-height: 50px;
  }
  .portfolio__projects {
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio {
    max-width: 292px;
    margin-top: 70px;
  }
  .portfolio__link-image {
    background-image: url(../../images/link-small.svg);
    width: 18px;
    height: 28px;
  }
  .portfolio__heading {
    font-size: 18px;
    line-height: 28px;
  }
  .portfolio__project {
    margin-bottom: 19px;
    height: 28px;
  }
  .portfolio__title {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
  }
  .portfolio__projects {
    margin-bottom: 45px;
  }
}
