.filterCheckbox {
  display: flex;
  flex-direction: row;
}

.filterCheckbox__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-top: 27px;
  margin-left: 14px;
}

.filterCheckbox__checkbox {
  margin-left: 29px;
  width: 36px;
  height: 20px;
  margin-top: 26px;
  background-color: #FFFFFF;
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
  border: solid 2px #e02b2b;
  box-shadow: inset -18px 0 0 0 #e02b2b;
}

.filterCheckbox__checkbox:checked {
  border: solid 2px #2BE080;
  box-shadow: inset 18px 0 0 0 #2BE080;
}

@media screen and (max-width: 1140px) {
  .filterCheckbox__checkbox {
    margin-left: 19px;
  }
}

@media screen and (max-width: 767px) {
  .filterCheckbox__text {
    margin-top: 0;
    font-size: 11px;
  }
  .filterCheckbox {
    margin-top: 5px;
  }
  .filterCheckbox__checkbox {
    margin: 0;
  }
}
