.login {
  max-width: 396px;
  margin: 70px auto 0;
}

.login__logo {
  background-image: url(../../images/logo.svg);
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}

.login__label {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-bottom: 5px;
}

.login__input {
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  appearance: none;
  outline: none;
  border: none;
  padding-bottom: 10px;
  border-bottom: #e8e8e8 1px solid;
}

.login__input:focus {
  border-bottom: #2be080 1px solid;
}

.login__submit {
  appearance: none;
  outline: none;
  border: none;
  background-color: #2be080;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 45px;
  color: #ffffff;
  margin-top: 196px;
  cursor: pointer;
}

.login__submit:hover {
  opacity: 0.75;
}

.login__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
  max-width: 285px;
  margin: 16px auto 70px;
}

.login__link {
  text-decoration: none;
  color: #2be080;
}

.login__input_error {
  color: #ee3465;
}

.login__form-error {
  opacity: 0;
  margin: 0;
  color: #ee3465;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.login__form-error_visible {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .login__logo {
    margin: 56px auto 50px;
  }
  .login__title {
    margin: 0 auto 80px;
    text-align: center;
  }
  .login__form {
    margin: 0 auto;
    max-width: 260px;
  }
  .login__submit {
    margin-top: 284px;
    font-size: 12px;
  }
  .login__text {
    margin-top: 14px;
    max-width: 246px;
    font-size: 12px;
    line-height: 15px;
  }
}
