.aboutMe {
  max-width: 1140px;
  margin: 110px auto 0;
}

.aboutMe__title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.aboutMe__line {
  margin-top: 23px;
  border: 1px #000000 solid;
  margin-bottom: 66px;
}

.aboutMe__card {
  display: grid;
  grid-template-columns: 1fr 270px;
  grid-template-rows: 1fr;
}

.aboutMe__heading {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 18px;
}

.aboutMe__subheading {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 26px;
}

.aboutMe__text {
  max-width: 600px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  margin-bottom: 99px;
}

.aboutMe__link {
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
}

.aboutMe__link:hover {
  opacity: 0.75;
}

.aboutMe__image {
  background-image: url(../../images/photo.jpg);
  width: 270px;
  height: 327px;
  border-radius: 10px;
  order: 2;
}

.aboutMe__portfolio {
  margin: 0;
  margin-top: 100px;
  color: #a0a0a0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (max-width: 769px) {
  .aboutMe {
    max-width: 668px;
    margin-top: 90px;
  }
  .aboutMe__card {
    grid-column-gap: 49px;
  }
  .aboutMe__image {
    width: 255px;
    height: 307px;
  }
  .aboutMe__subheading {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .aboutMe__heading {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .aboutMe__text {
    max-height: 108px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 87px;
  }
  .aboutMe__line {
    margin-bottom: 66px;
  }
}

@media screen and (max-width: 690px) {
  .aboutMe {
    max-width: 668px;
    margin-top: 70px;
  }
  .aboutMe__card {
    grid-column-gap: 40px;
    grid-template-columns: 1fr;
  }
  .aboutMe__image {
    margin: 0 auto 40px;
    grid-row: 1;
    width: 292px;
    height: 352px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .aboutMe__subheading {
    font-size: 11px;
    margin-bottom: 20px;
  }
  .aboutMe__heading {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .aboutMe__text {
    height: 112px;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }
  .aboutMe__line {
    margin-bottom: 60px;
  }
  .aboutMe__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe {
    max-width: 292px;
  }
  .aboutMe__card {
    grid-template-columns: 292px;
  }
}
